*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Arial Narrow;
  src: url(Arial Narrow.otf);
}

@font-face {
  font-family: Arial Narrow Bold;
  src: url(Arial Narrow Bold.otf);
}

body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: rgb(236, 236, 236);
}


/* .title {
  width: 700px;
  font-size: 7vw;
  font-family: Theinhardt-Light;
  text-transform: uppercase;
  text-align: center;
  margin:0 auto;
  margin-top: 10px;
  } */

  .flag-header {
      padding-top: 30px;
  }

  .flag-header {
    width: 80%;
    text-align: center;
    margin: 0 auto 1em auto;
    box-shadow: 5px 10px 18px green;
}

.flag-title  {
    padding-left:10px;
    padding-right:10px;
    padding-bottom:30px;
    display: block;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    overflow-x: hidden;
    line-height: 1;
    transform: scale(1);
    transform-origin: right;
    font-size: 5vw;
    font-family: "Arial Narrow";
    font-weight: bold;
}

.author-list{
  font-family: "Arial Narrow";
  padding-bottom:20px;
  font-style: italic;
  text-transform: uppercase;
}

.flag-text-body {
    width: 100%;
    font-size: 20px;
    line-height: 1.38;
    text-align: left;
    margin-bottom: 0;
    color: #0a0a0a;
    overflow-x: hidden;
    font-family: Georgia;
    font-weight: Medium;
}

img {
 padding-bottom: 10px;
 padding-top: 20px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.imgflags{
  position: -webkit-sticky;
   position: sticky;
   top: 240px;
   left: 100px;
   width: 80px;
   float: left;
}

figcaption {
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

video {
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottomtext h2{
  font-size: 25px;
  text-align:center;
  padding: 20px;
  display: inline-block;
  font-family: "Arial Narrow";
  font-weight: normal;

}

@media only screen and (min-width: 2000px) {
  .imgflags { width: auto; height:200px; float: left; top: 390px; left: 250px;}
}

@media (max-width: 600px) {
.flag-text-body p { font-size:4.5vw; hyphens: auto;}
}

@media (max-width: 600px) {
img { width: 100%;}
}

@media (max-width: 600px) {
img.imgflags { width: auto; height:100px; float: left; top: 130px; left: 0;}
}

@media (max-width: 600px) {
.bottomtext h2 { font-size: 15px; font-family: Arial;
    font-weight: bold;}
}

@media (max-width: 600px) {
.flag-header { width: 90%;}
}

@media (max-width: 600px) {
.flag-title { font-size: 20px; padding-right:40px; font-family: Arial;
    font-weight: bold;}
}

@media (max-width: 600px) {
.author-list{ font-family: Arial;
    font-weight: bold;}
}


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}
